*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1520px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right:60px;
}


.defBox{
  margin-top: 200px;
}